.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #2C4C66;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main fieldset {
  border-style: none;
  display: flex;
}

.App-main fieldset input {
  flex: 1 0 auto;
}

.App-result {
  color: #66462C;
  font-weight: bolder;
  font-size: xx-large;
}